services:
  app:
    image: php:8.3-fpm
    container_name: panel_app
    working_dir: /var/www/html
    volumes:
      - ./:/var/www/html
    networks:
      - devnet

  web:
    image: nginx:alpine
    container_name: panel_web
    ports:
      - "8000:80"
    volumes:
      - ./:/var/www/html
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
    networks:
      - devnet

  vite:
    image: node:20-alpine
    container_name: panel_vite
    working_dir: /var/www/html
    ports:
      - "5173:5173"
    volumes:
      - ./:/var/www/html
    command: sh -lc "npm install && npm run dev -- --host 0.0.0.0 --port 5173"
    networks:
      - devnet

  redis:
    image: redis:alpine
    container_name: panel_redis
    ports:
      - "6380:6379"
    volumes:
      - redis_data:/data
    command: redis-server --appendonly yes
    restart: unless-stopped
    networks:
      - devnet

networks:
  devnet:
    driver: bridge

volumes:
  redis_data: